<nav class="navbar navbar-expand-lg fixed-top {% if dark %}bg-dark navbar-dark{% else %}bg-white{% endif %}">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand" href="./">
      <img src="./assets/img/{% if dark %}logo-w.svg{% else %}logo.svg{% endif %}" alt="Logo">
    </a>

    <!-- Togglers -->
    <div class="d-flex ms-auto order-lg-1">
      <!-- Top navigation toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-three-dots-vertical"></i>
      </button>

      <!-- Offscreen navigation toggler -->
      <button class="btn shadow-no position-relative center-both {% if dark %}text-white{% else %}text-dark{% endif %}" id="off-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation" data-tor="click:class.toggle(active, {target: body})">
        <!-- <i class="bi bi-list h4 mb-0 z-index-1 center-both"></i> -->
        <i class="bi bi-arrow-left-short position-absolute d-flex" data-tor="hover(#off-toggler):reveal(left) delay(100ms) quad"></i>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" data-tor-group="path => hover(#off-toggler):scaleX.to(0) originX(0%) quad delay(/+100ms/);">
          <path fill="currentColor" d="M2.5 4c0-.3.2-.5.5-.5h10c.3 0 .5.2.5.5s-.2.5-.5.5H3c-.3 0-.5-.2-.5-.5z"/>
          <path fill="currentColor" d="M2.5 8c0-.3.2-.5.5-.5h10c.3 0 .5.2.5.5s-.2.5-.5.5H3c-.3 0-.5-.2-.5-.5z"/>
          <path fill="currentColor" d="M2.5 12c0-.3.2-.5.5-.5h10c.3 0 .5.2.5.5s-.2.5-.5.5H3c-.3 0-.5-.2-.5-.5z"/>
        </svg>
        <span class="circle circle-md position-absolute bg-opacity-10" data-tor="hover(#off-toggler):[bg(dark) scale.from(0)]"></span>
      </button>
    </div>

    <!-- Navigation -->
    <div class="collapse navbar-collapse small order-lg-0" id="topNavbar">
      <ul class="navbar-nav d-flex w-100 justify-content-evenly px-2 px-lg-7 links-dark">
        <li class="nav-item">
          <a class="nav-link" href="#">Call me (+778) 675-0765</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">your_email@pro.com</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Download CV
            <i class="bi bi-file-earmark-arrow-down-fill text-primary"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Let's chat
            <i class="bi bi-chat-dots-fill text-primary"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>