<!-- Offscreen backdrop -->
<div id="offscreen-backdrop" class="z-index-master w-h-100 fixed-top bg-black bg-opacity-50" data-tor="active(body):[fade.in @pointer-events(none;auto)] click:class.remove(active, {target: body})"></div>

<!-- Offscreen navigation -->
<nav id="offscreen-nav" class="overflow-auto position-fixed z-index-master end-0 bg-white shadow w-80 w-sm-auto p-5 pe-8 h-100" data-tor="active(body):pull.left(full)">
  <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-tor="click:class.remove(active, {target: body})" aria-label="Close"></button>
  <ul class="nav flex-column links-dark nav-style-opacity nav-style-hover-primary"
    data-tor-group="
      .nav-item => active(body):[fade.in pull.left(sm)] delay(/25ms+25ms/) slow;
      .nav-link => hover:push.right(xs) quad;
    ">
    {% for item in navigation.onPage %}
    <li class="nav-item">
      <a class="nav-link transition-unset" href="#{{ item | slug }}">{{ item }}</a>
    </li>
    {% endfor %}
    <li class="nav-item">
      <h6 class="text-primary font-sans-serif small text-uppercase opacity-50 mt-5 ms-3">Subpages</h6>
      <ul class="nav flex-column">
        {% for item in navigation.subpages %}
        <li class="nav-item">
          <a class="nav-link transition-unset" href="./{% if dark%}dark-{% else%}light-{% endif %}{{ item | slug }}.html">{{ item }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>