<section id="portfolio" class="py-5 py-lg-8">
  <div class="container py-4">
    <!-- Title -->
    <div class="title-badge d-inline-block mb-6 bg-primary text-primary bg-opacity-10 px-3 small">Portfolio</div>

    <div class="row row-cols-1 row-cols-md-2 mb-7">
      <div class="col">
        {{ macros.typewriter(tag="h2", class="mb-4", staticText="Some of my illustration", typewriter="works") }}
        <p class="mb-6">As a designer I have been working few years in this sector, and I have completed lot's of projects.</p>
        <a href="#" class="btn-link btn-arrow">Explore more</a>
      </div>
      <div class="col">
        <div class="row row-cols-md-2 mt-4">
          <!-- col -->
          <div class="col center-v">
            <div class="display-5 font-sans-serif text-primary me-4">07</div>
            <h3 class="h5 mb-0 font-sans-serif w-md-30">Years of Experience</h3>
          </div>
          <!-- end .col -->
          <!-- col -->
          <div class="col center-v">
            <div class="display-5 font-sans-serif text-primary me-4">120+</div>
            <h3 class="h5 mb-0 font-sans-serif w-md-30">Satisfied Clients</h3>
          </div>
          <!-- end .col -->
        </div>
      </div>
    </div>

    {%- if not portfolioGallery -%}
    <div class="tor-slider" data-tor-slider="count(1 md::2) margin(80) indicators(true) add-trigger(active){% if dark %} indicators-light{% endif %}" data-tor-group=".portfolio-item => active(p):[scale.from(80%) rotate.from(5deg)];">
      <img class="img-fluid border border-dark border-opacity-5 portfolio-item bg-white" src="./assets/img/works/wfh_2.svg" alt="illustration">
      <img class="img-fluid border border-dark border-opacity-5 portfolio-item bg-white" src="./assets/img/works/wfh_3.svg" alt="illustration">
      <img class="img-fluid border border-dark border-opacity-5 portfolio-item bg-white" src="./assets/img/works/wfh_4.svg" alt="illustration">
      <img class="img-fluid border border-dark border-opacity-5 portfolio-item bg-white" src="./assets/img/works/wfh_5.svg" alt="illustration">
      <img class="img-fluid border border-dark border-opacity-5 portfolio-item bg-white" src="./assets/img/works/wfh_6.svg" alt="illustration">
    </div>
    {%- else -%}
      {% block gallery %}{% endblock %}
    {%- endif -%}
  </div>
  <!-- end .container -->
</section>
<!-- end #portfolio -->