---
root: "../"
---
<!DOCTYPE html>
<html lang="en">
  {% include "required/head.html" %}

  <style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: var(--bs-font-sans-serif) !important;
      font-weight: 400;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 3rem;
    }
    h2 {
      margin-top: 3rem;
    }
    .toc ol {
      list-style: none;
    }
    .toc > ol > li {
      margin-bottom: 2rem;
    }
    .toc li {
      margin-bottom: .2rem;
    }
  </style>

<body>
  <section class="bg-light py-6 text-center">
    <h1 class="display-4">{{ title }}</h1>
    <h2 class="h3 text-body">Documentation</h2>
  </section>

  <main class="container py-4">
    <div class="row">
      <div class="col-md-3">
        {{ content | toc | safe }}
      </div>
      <div class="col-md-9">
        {{ content | safe }}
      </div>
    </div>
  </main>

</body>
</html>