/**
 * ------------------------------------------------------------------------
 * Pro Kit - HTML Template
 *
 * Theme Light background color: #fff
 * Theme Dark background color: #343a40
 *
 * Primary color: #DF5646
 * Secondary color: #78ADD9
 *
 * Headings Serif font family: Playfair Display
 * Headings Sans Serif font family: Poppins
 * ------------------------------------------------------------------------
 */

$body-color: rgba(#000, .6);
$primary: #DF5646;
$secondary: #78ADD9;
$min-contrast-ratio: 3.5;